* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* display: none; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 50px;
}

.box {
  width: 300px;
  height: 300px;
  background: #80afe1;
  border-radius: 100%;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
}

.line {
  width: 500px;
  height: 5px;
  background: #212f3c;
  border-radius: 20px;
}
